extends layout

block content
    h1 Lead Display
    table(class="center")
        tr
            td
                <span> #{lead.id}</span>
            td
                <span> #{lead.email}</span>
            td
                <span> #{lead.name}</span>
            td
                a(href="/lead/" + lead.id + "/edit" ) Edit